/* modules */
@import url("/utility.css");

@import url("./components/Code.css");
@import url("./components/Input.css");
@import url("./components/Navigation.css");
@import url("./components/Animations.css");

/* ... */
:root {
    --nav-height: 73px;

    /* default colors (light) */
    --base-hue: 0;
    --base-sat: 0%;
    --base-lit: 96%;

    --mod: -;
    --diff: 9%;

    --background-surface-1: hsl(
        var(--base-hue),
        var(--base-sat),
        calc(var(--base-lit) - 2%)
    );

    --background-surface: hsl(
        var(--base-hue),
        var(--base-sat),
        calc(var(--base-lit) + 0%)
    );

    --background-surface0-5: hsl(
        var(--base-hue),
        var(--base-sat),
        calc(var(--base-lit) var(--mod) 2% + var(--diff))
    );

    --background-surface1: hsl(
        var(--base-hue),
        var(--base-sat),
        calc(var(--base-lit) var(--mod) 4% + var(--diff))
    );

    --background-surface1a: hsla(
        var(--base-hue),
        var(--base-sat),
        calc(var(--base-lit) var(--mod) 8% + var(--diff)),
        0.4
    );

    --background-surface1-5: hsl(
        var(--base-hue),
        var(--base-sat),
        calc(var(--base-lit) var(--mod) 6% + var(--diff))
    );

    --background-surface1-5a: hsla(
        var(--base-hue),
        var(--base-sat),
        calc(var(--base-lit) var(--mod) 10% + var(--diff)),
        0.4
    );

    --background-surface2: hsl(
        var(--base-hue),
        var(--base-sat),
        calc(var(--base-lit) var(--mod) 21% + var(--diff))
    );

    --background-surface2a: hsla(
        var(--base-hue),
        var(--base-sat),
        calc(var(--base-lit) var(--mod) 21% + var(--diff)),
        0.4
    );

    --background-surface3: hsl(
        var(--base-hue),
        var(--base-sat),
        calc(var(--base-lit) var(--mod) 23% + var(--diff))
    );

    --text-color: hsl(208, 7%, 15%);
    --text-color-faded: hsl(208, 7%, 38%);
    --blue: hsl(200, 50%, 35%);
    --blue1: hsl(200, 65%, 91%);
    --blue2: hsl(208, 98%, 35%);
    --green: hsl(121, 32%, 25%);
    --green0-5: hsl(103, 44%, 85%);
    --green1: hsl(103, 44%, 89%);
    --green2: hsl(97, 50%, 97%);
    --green3: hsl(115, 100%, 24%);
    --yellow: hsl(38, 46%, 35%);
    --yellow1: hsl(49, 82%, 85%);
    --red: hsl(1, 45%, 45%);
    --red1: hsl(0, 43%, 91%);
    --red2: hsl(0, 64%, 98%);
    --red3: hsl(357, 100%, 34%);
}

.dark-theme {
    --base-hue: 225;
    --base-sat: 8%;
    --base-lit: 10%;

    --mod: +;
    --diff: 0%;

    --text-color: hsl(204, 4%, 80%);
    --text-color-faded: hsl(207, 5%, 54%);
    --blue: hsl(200, 28%, 50%);
    --blue1: hsl(199, 18%, 21%);
    --blue2: hsl(205, 59%, 56%);
    --green: hsl(120, 16%, 49%);
    --green1: hsl(104, 15%, 19%);
    --green2: hsla(115, 21%, 54%, 0.149);
    --green3: hsl(120, 45%, 78%);
    --yellow: hsl(38, 40%, 70%);
    --yellow1: hsl(43, 22%, 25%);
    --red: hsl(1, 29%, 62%);
    --red1: hsl(0, 29%, 23%);
    --red2: hsla(0, 21%, 54%, 0.149);
    --red3: hsl(353, 45%, 78%);
}

.purple-theme {
    --base-hue: 255;
    --base-sat: 50%;
}

.blue-theme {
    --base-hue: 203;
    --base-sat: 12%;
}

.pink-theme {
    --base-hue: 0;
    --base-sat: 50%;
}

.green-theme {
    --base-hue: 105;
    --base-sat: 50%;
}

* {
    margin: 0;
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Tahoma,
        Geneva,
        Verdana,
        sans-serif;
    word-wrap: break-word;
    word-break: break-word;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

strong,
em,
a {
    font-family: inherit;
}

body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background: var(--background-surface);
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    overflow-x: hidden;
    overflow-y: auto;
    transition: background 0.15s;
}

main {
    width: 1140px;
    max-width: 100%;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    margin: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

main.small {
    width: 80ch;
}

@media screen and (max-width: 800px) {
    main {
        width: 100vw;
        max-width: 100vw;
        padding: 0;
        margin-top: 0;
        margin-bottom: 0;
    }
}

svg {
    fill: currentColor;
}

.invert {
    filter: invert() !important;
}

/* button */
button,
.button {
    background: var(--background-surface1);
    cursor: pointer;
    border: none;
    outline: none;
    color: inherit;
    font-size: 16px;
    padding: var(--u-04) var(--u-08);
    display: flex;
    justify-content: center;
    align-items: center;
    transition:
        all 0.1s,
        box-shadow 0.2s;
    height: max-content;
    width: max-content;
    font-weight: normal;
    text-decoration: none;
    gap: 0.5rem;
    box-shadow: 0 0 1px transparent;
}

button.round,
.button.round {
    border-radius: var(--u-04);
}

button.secondary,
.button.secondary {
    background: var(--background-surface);
}

button:hover,
.button:hover {
    background: var(--background-surface1-5);
    text-decoration: none;
}

button.secondary:hover,
.button.secondary:hover {
    background: var(--background-surface-1);
}

button.tertiary,
.button.tertiary {
    background: var(--background-surface1);
}

button.tertiary:hover,
.button.tertiary:hover {
    background: var(--background-surface0-5);
}

button.border,
.button.border {
    background: transparent;
    box-shadow: inset 0 0 0 1px var(--background-surface2a);
}

button.border:hover,
.button.border:hover {
    box-shadow: none;
    background: var(--background-surface2a);
}

button.border.dashed,
.button.border.dashed {
    box-shadow: none;
    border: dashed 1px var(--background-surface2a);
}

button.border.dashed:hover,
.button.border.dashed:hover {
    box-shadow: none;
    border: dashed 1px var(--background-surface2);
    background: transparent;
}

button.border.dimmed,
.button.border.dimmed {
    box-shadow: inset 0 0 0 1px var(--background-surface2a);
}

html.dark-theme button.border.dimmed,
html.dark-theme .button.border.dimmed {
    box-shadow: inset 0 0 0 1px var(--background-surface1-5);
}

button.anchor,
.button.anchor {
    padding: 0;
    height: max-content !important;
    background: transparent;
}

button.anchor:hover,
.button.anchor:hover {
    text-decoration: underline;
}

button.green,
.button.green {
    color: var(--green3);
}

button.green-cta,
.button.green-cta {
    background: var(--green1) !important;
}

button.green-cta:hover,
.button.green-cta:hover {
    background: var(--green0-5) !important;
}

html.dark-theme button.green-cta:hover,
html.dark-theme .button.green-cta:hover {
    background: var(--green2) !important;
}

button.red,
.button.red {
    color: var(--red3);
}

button:disabled,
.button:disabled,
.button[disabled] {
    opacity: 50%;
    cursor: not-allowed;
}

button.invisible:not(:hover),
.button.invisible:not(:hover) {
    background: inherit;
}

button:focus,
.button:focus,
button.active,
.button.active {
    box-shadow: inset 0 0 0 2px var(--blue) !important;
}

button.glow:hover,
.button.glow:hover {
    box-shadow: 0 0 4px currentColor;
}

button.visual-active:active,
.button.visual-active:active {
    transform: scale(0.95);
}

.tabbar {
    display: flex;
    /* margin-bottom: var(--u-02); */
}

.tabbar button:not(.full-normal),
.tabbar .button:not(.full-normal) {
    padding: var(--u-04) var(--u-10);
    height: 40px; /* fixes weird webkit sizing issue (?) which caused the height to be calculated wrong */
    /* border-radius: var(--u-04); */
    border-radius: var(--u-04) var(--u-04) 0 0;
}

.tabbar button.secondary:not(.full-normal),
.tabbar .button.secondary:not(.full-normal) {
    color: var(--text-color-faded);
}

.tabbar button.secondary:not(.normal):not(.full-normal):hover,
.tabbar .button.secondary:not(.normal):not(.full-normal):hover {
    color: var(--blue) !important;
    background: transparent;
}

.tabbar button:not(.secondary):not(.full-normal):hover,
.tabbar .button:not(.secondary):not(.full-normal):hover {
    background: var(--background-surface1);
}

.mdnote {
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: var(--u-04);

    /* default: note-note */
    background: var(--green1);
    color: var(--green);
}

.mdnote .mdnote-title::before {
    content: "📝";
    margin-right: 1rem;
}

.note-danger,
.note-error {
    background: var(--red1);
    color: var(--red);
}

.mdnote.note-danger .mdnote-title::before,
.mdnote.note-error .mdnote-title::before {
    content: "❗";
}

.note-warning,
.note-warn {
    background: var(--yellow1);
    color: var(--yellow);
}

.mdnote.note-warning .mdnote-title::before,
.mdnote.note-warn .mdnote-title::before {
    content: "⚠️";
}

.note-info {
    background: var(--blue1);
    color: var(--blue);
}

.mdnote.note-info .mdnote-title::before {
    content: "ℹ️";
}

a {
    color: var(--blue2);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 1rem;
    margin-top: 2rem;
    font-weight: 700;
    width: max-content;
    position: relative;
}

h1 br,
h2 br,
h3 br,
h4 br,
h5 br,
h6 br {
    display: none !important;
}

h1.no-margin,
h2.no-margin,
h3.no-margin,
h4.no-margin,
h5.no-margin,
h6.no-margin {
    margin: 0;
}

h1 {
    margin-bottom: 2.5rem;
    margin-top: 3.5rem;
    font-size: 2.5rem;
    text-align: center;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}

.htag {
    color: var(--text-color-faded);
    position: absolute;
    margin-left: 5px;
    opacity: 0;
    transition:
        opacity 0.1s,
        transform 0.1s;
    transform: scale(0);
    top: 0;
}

.htag:hover {
    color: var(--blue);
}

h5 .htag,
h6 .htag {
    display: none;
}

h1:hover .htag,
h2:hover .htag,
h3:hover .htag,
h4:hover .htag,
h5:hover .htag,
h6:hover .htag,
h1:focus .htag,
h2:focus .htag,
h3:focus .htag,
h4:focus .htag,
h5:focus .htag,
h6:focus .htag {
    opacity: 100%;
    transform: scale(1);
}

.chip {
    border-radius: var(--u-10);
    padding: 0 0.5rem;
    border: dashed 1px currentColor;
    transition: all 0.15s;
    height: max-content !important;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: var(--u-04);
}

.chip.solid {
    border-style: solid;
}

.chip.button {
    border-color: var(--background-surface2);
    padding: 0.25rem 0.75rem !important;
    height: max-content !important;
}

.chip.badge {
    border-radius: var(--u-02);
    border-style: solid;
    color: var(--blue2);
    user-select: none;
}

.chip.badge.mention {
    color: var(--yellow);
}

.chip.badge.green {
    color: var(--green);
}

ul > li,
ol > li {
    margin-top: 0.25rem;
}

p:not(.mdnote p):not(.builder\:text),
pre,
table,
ul,
ol {
    margin-bottom: 1rem;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

hr {
    margin: 1rem 0;
    border: 0;
    border-top: solid 1px var(--background-surface1);
}

hr.small {
    margin: var(--u-02) 0;
}

html:not(.dark-theme) hr {
    border-color: hsl(var(--base-hue), var(--base-sat), calc(var(--base-lit) - 14%));
}

.editor-tab hr,
.builder\:card hr {
    /* editor-tab really just means markdown preview, it has a lighter background that matches
       the normal color of hr, so we need to make hr brighter when it is inside of that */
    border-color: var(--background-surface2a);
}

span.highlight {
    background: var(--yellow1);
    padding: 0.2rem;
}

table {
    border-collapse: collapse;
    max-width: 100%;
    min-width: auto;
    overflow: auto;
}

table th {
    min-width: max-content;
    padding: 6px 10px;
    background: var(--background-surface2);
    border: none;
}

table td {
    border-left: solid 1px rgba(120, 125, 125, 0.1);
    padding: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    overflow-wrap: normal;
    word-break: normal;
    width: max-content;
}

table td:first-child {
    border-left: 0;
}

table tr {
    background: var(--background-surface1);
    border-bottom: solid 1px rgba(120, 125, 125, 0.1);
}

table tr:nth-child(even) {
    background: var(--background-surface1-5);
}

table tr:hover {
    background: var(--background-surface2a);
}

table td:focus-within {
    box-shadow: inset 0 0 0 1px var(--blue2);
}

table.force-full tr {
    text-align: center;
}

table.force-full td {
    white-space: pre;
    word-break: normal;
    width: max-content;
}

blockquote {
    padding-left: var(--u-04);
    border-left: solid 5px var(--background-surface);
    font-style: italic;
}

dialog {
    background: var(--background-surface);
    color: currentColor;
    border: none;
    position: fixed;
    margin: auto;
    transition: transform 0.15s;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

dialog h4 {
    margin-top: 0;
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}

dialog[open] {
    animation: Grow 0.15s 0s forwards running;
}

.editor-tab h1,
.editor-tab h2,
.editor-tab h3,
.editor-tab h4,
.editor-tab h5,
.editor-tab h6 {
    width: 100%;
}

.editor-tab input {
    height: max-content;
}

.card {
    background: var(--background-surface);
    padding: 1rem;
    display: block;
    width: 100%;
    transition: all 0.15s;
    box-shadow: none;
}

.card.MaxContent {
    width: max-content !important;
}

.card.NoPadding {
    padding: 0 !important;
}

.card.border {
    border: solid 1px var(--background-surface2a);
}

.card.border.dashed {
    border-style: dashed;
}

.card.round {
    border-radius: var(--u-04);
}

.card.header {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background: inherit;
    user-select: none;
    border-bottom: solid 1px var(--background-surface2a);
}

.card.has-header {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.card.secondary {
    background: var(--background-surface1);
}

.card.hover:hover {
    background: var(--background-surface1);
}

.card.secondary.hover:hover {
    background: var(--background-surface1-5);
}

.card.GrowHover:hover {
    transform: scale(1.01);
    box-shadow: 0 0 2px var(--background-surface3);
}

details {
    background: var(--background-surface1);
    color: currentColor;
    border: none;
    outline: none;
    font-size: 16px;
    height: max-content;
    max-width: 100%;
    appearance: none;
}

details summary::marker,
details summary::-webkit-details-marker {
    display: none;
}

details.details-confined {
    width: 18rem;
    max-width: 100%;
}

details * {
    max-width: 100%;
}

details summary {
    transition: all 0.15s;
    padding: var(--u-04) var(--u-08);
    cursor: pointer;
    font-weight: 600;
    height: 40px; /* WHY is it normally 40.5px??? WHEN EVERTHING ELSE IS JUST 40!!! */
    list-style: none;
    display: flex;
    align-items: center;
    user-select: none;
    -webkit-user-select: none;
}

details.secondary summary {
    background: var(--background-surface);
}

details summary::before {
    content: "▸"; /* rip correctly aligned triangle (U+2BC8) */
    margin-right: 5px;
    transition: transform 0.15s;
    /* the styles below are because I had to change the triangle character
       because iphones don't have the good character that I wanted! */
    font-size: 20px;
    margin-bottom: 3px;
}

details[open] summary::before {
    transform: rotate(90deg);
    /* this is kind of awful, why does it make me do this?? */
    margin-bottom: 0; /* ugh */
}

details[open] summary {
    margin-bottom: 0.5rem;
}

details summary:hover {
    background: var(--background-surface1-5) !important;
}

details[open] summary {
    background: var(--background-surface);
    box-shadow: inset 0 0 0 2px var(--background-surface2a);
}

details.secondary[open] summary {
    background: var(--background-surface-1);
    box-shadow: inset 0 0 0 2px var(--background-surface1a);
}

details:not([open]) summary {
    /* fix for nested details elements */
    background: var(--background-surface1);
    margin-bottom: 0;
}

details:not([open]) summary::before {
    /* fix for nested details elements */
    transform: rotate(0deg);
}

details input {
    background: var(--background-surface);
}

details .details-flex-content-list-box {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0rem 0.75rem 0.5rem;
}

.editor\:sidebar details[open] .details-flex-content-list-box,
details.secondary[open] .details-flex-content-list-box {
    outline: dashed 1px var(--background-surface2);
    border-radius: var(--u-04);
}

details details:nth-child(even) {
    background: var(--background-surface);
}

details hr {
    border-color: var(--background-surface2);
}

details.horizontal {
    position: relative;
    background: transparent !important;
}

details.horizontal .details-content {
    position: absolute;
    bottom: -40px; /* -height of summary */
    left: 0;
    display: none;
    z-index: 1;
    width: 20rem;
    min-width: calc(80px * 3);
}

details.horizontal summary {
    width: 87px;
    justify-content: center;
}

details[open].horizontal summary {
    margin: 0;
    box-shadow: none;
    background: var(--background-surface1);
}

details[open].horizontal .details-content {
    display: flex;
    background: var(--background-surface1);
}

details[open].horizontal .details-content * {
    width: max-content;
}

details[open].round.horizontal summary {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

details.round,
details.round summary {
    border-radius: var(--u-04);
}

details[open].file-list-entry {
    background: transparent;
}

details.file-list-entry .details-flex-content-list-box {
    padding: 0 0 0 0.75rem;
}

details.file-list-entry[open] .details-flex-content-list-box {
    border-left: solid 2px var(--background-surface2a);
}

details[open] summary .open-icon {
    display: block;
}

details[open] summary .closed-icon {
    display: none;
}

details:not([open]) summary .open-icon {
    display: none;
}

details:not([open]) summary .closed-icon {
    display: block;
}

details.file-list-entry summary::before {
    /* hide marker if summary has an open-icon */
    display: none;
}

/* special elements */
hue,
sat,
lit,
theme,
comment {
    display: none;
}

hr + br {
    display: none;
}

r {
    /* row */
    display: block;
}

rf {
    /* row flow */
    display: flex;
    align-items: center;
}

br:not(.cm-line br) {
    display: block;
}

/* tooltip */
.tooltip-wrapper {
    position: relative;
}

.tooltip-wrapper .tooltip {
    opacity: 0%;
    transition:
        opacity 0.25s,
        transform 0.1s;
    position: absolute;
    width: max-content !important;
    color: var(--text-color) !important;
    height: max-content;
    padding: var(--u-04) var(--u-10);
    font-family: inherit;
    transform: scale(0); /* so the element isn't interactable when not visible! */
}

.tooltip-wrapper:hover .tooltip {
    opacity: 100%;
    transform: scale(1);
    z-index: 250;
}

.tooltip-wrapper .tooltip.top {
    bottom: 110%;
}

.tooltip-wrapper .tooltip.left {
    right: 110%;
}

.tooltip-wrapper .tooltip.bottom {
    top: 110%;
}

.tooltip-wrapper .tooltip.right {
    left: 110%;
}
